{% extends 'base.html' %} {% block title %}Comptarcilite | Créer un compte{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-5">Créer un compte</h1>
        </div>
    </div>

    <div class="row">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="nom_compte" id="nom_compte"
                       placeholder="Nom du compte" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="descr_compte" id="descr_compte"
                       placeholder="Description du compte" required></textarea>
            </div>
            <div class="form-group">
                <label for="membres" class="form-label">Membres du groupe [VA CHANGER]</label>
                <div class="row">
                    <ul>
                        <li>{{ user.username }}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group form-inline">
                <input type="text" class="form-control w-75" name="membre" id="membre" placeholder="Ajouter un membre">
                <a class="btn btn-default w-25"><span class="fas fa-plus-circle fa-2x text-info"></span></a>
            </div>
            <div class="form-group">
                <input type="number" step="0.05" class="form-control" name="solde" id="solde" placeholder="Solde initial">
            </div>
            <div class="form-group">
                <button class="btn btn-success w-100" id="btn-add" type="submit" value="create">
                    Créer le compte
                </button>
            </div>
        </form>
    </div>

</div>
{% endblock %}