{% extends 'base.html' %} {% block title %}Comptarcilite index{% endblock %} {% block import %} {% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static "js/vueApp.js" %}"></script>
{% endblock %} {% block content %}



<div class="container" id="app">

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-5">Comptarcilite index</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Accounts list</h2>
        </div>
        <div class="col-md-10">
            <h2>Account details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-light" v-for="(account, index) in accounts" @click="getAccount(account.id)">
                [[account.name]]
            </button>
        </div>
        <div v-if="accountGet" class="col-md-10">
            <h3>[[accounts[accountId].name]]</h3>
        </div>
        <div v-else class="col-md-10">
            <h3>Select an account !</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div v-if="accountGet" class="col-md-10">
            <table class="table">
                <thead>
                    <td>Date</td>
                    <td>Description</td>
                    <td>Crédit</td>
                    <td>Débit</td>
                </thead>
                <tr v-if="transactions !== []" v-for="(transaction, index) in transactions">
                    <td>[[transaction.timestamp]]</td>
                    <td>[[transaction.description]]</td>
                    <td v-if="transaction.amount>0">[[transaction.amount]]</td>
                    <td v-else></td>
                    <td v-if="transaction.amount>0"></td>
                    <td v-else>[[-transaction.amount]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}