{% extends "base.html" %} {% block content %} {% if next %} {% if user.is_authenticated %} {% endif %} {% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %} {% if form.errors %}
                        <div class="alert alert-danger text-center">Login incorrect</div>
                        {% endif %}
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Nom d'utilisteur</label>
                            <div class="col-md-6">
                                <input id="{{ form.username.id_for_label }}" maxlength="100" class="form-control" name="{{ form.username.html_name }}" required=required value="" type="text" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Mot de passe</label>
                            <div class="col-md-6">
                                <input id="{{ form.password.id_for_label }}" maxlength="100" class="form-control" name="{{ form.password.html_name }}" required=required value="" type="password" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                        Valider
                                </button>
                                <a class="btn btn-link" href="{% url 'password_reset' %}">Mot de passe perdu ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}