{% extends "base.html" %} {% block content %} {% if next %} {% if user.is_authenticated %} {% endif %} {% endif %}
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-x1-3">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %} {% if form.errors %}
                        <div class="alert alert-danger text-center">Login incorrect</div>
                        {% endif %}
                        <div class="form-group row">

                            <label for="email" class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                <a class="btn btn-link" href="{% url 'password_reset' %}">Forgot Your Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}