{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5">
          <div class="card">
              <div class="card-header">Inscription</div>
              <div class="card-body">
              {% if validlink %}
                {% if form.non_field_errors or form.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <form method="post">
                {% csrf_token %}
                
                  {% for field in form.visible_fields %}
                    <div class="form-group row">
                      <label class="col-12 col-sm-4 col-md- col-form-label text-sm-right" for="{{ field.auto_id }}">{{ field.label }}</label>
                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% render_field field class="col-12 col-sm-6 form-control is-invalid" %}
                        {% else %}
                          {% render_field field class="col-12 col-sm-6 form-control is-valid" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="col-12 col-sm-6 form-control" %}
                      {% endif %}
                    </div>
                  {% endfor %}
                  <div class="form-group row mb-0">
                    <div class="offset-3 offset-sm-4">
                      <button type="submit" class="btn btn-primary">
                        Valider
                      </button>
                    </div>
                  </div>

                </form>
            {% else %}
                <p>
                    Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
                    Veuillez demander une nouvelle réinitialisation du mot de passe.
                </p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
