{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5">
          <div class="card">
              <div class="card-header">Réinitialisation du mot de passe</div>
              <div class="card-body"></div>
              <ul>
                  <li>
                    Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré.
                    Vous devriez les recevoir sous peu. 
                  </li>
                  <li>
                    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit, et vérifiez votre dossier spam.
                  </li>
              </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}
