{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Inscription</div>
        <div class="card-body">
          <form method="post">
                {% csrf_token %}

                {% if message != None %}
                <div class="alert alert-success" role="alert">
                  <ul>
                    <li>{{ message }}</li>
                  </ul>
                </div>
                {% else %}
                  {% if form.non_field_errors or form.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    {% for field in form.visible_fields %}
                      {% for error in field.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                
                  {% for field in form.visible_fields %}
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label text-md-right" for="{{ field.auto_id }}">{{ field.label }}</label>
                      <div class="col-md-6">
                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% render_field field class="form-control is-invalid" %}
                        {% else %}
                          {% render_field field class="form-control is-valid" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control" %}
                      {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                        Valider
                      </button>
                    </div>
                  </div>
                  {% endif %}
              </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
